.about {
    margin: 4rem 0;
}

.about__inner {
    display: flex;
}

.about__photo,
.about__content {
    width: 50%;
    overflow: hidden;
}

.about__content {
    margin-top: 2rem;
}

.about__photo {
    position: relative;
}

.about__image {
    width: 100%;
    height: auto;
    max-width: 400px;
    fill: @black;
}

.img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.about__title {
    font-weight: 700;
    text-transform: uppercase;

    font-size: 3rem;

    color: @black;
}

.about__bigtitle {
    position: relative;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;

    font-size: 6rem;
    margin-bottom: 1.25rem;

    color: fade(@black, 15%);
}

.about__text {
    line-height: 2;
    font-weight: 300;

    font-size: 1rem;
    margin-bottom: 1.5rem;

    color: @black;
}