.btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    
    background: none;
    font-family: inherit;
    cursor: pointer;
    line-height: 1.1;

    text-transform: uppercase;
    text-decoration: none;
    transition: background .25s linear,
    color .25s linear, box-shadow .25s linear,
    border .25s linear;

    font-size: 1rem;
    border-radius: 1em;
    padding: .75em 1em;

    border: 1px solid @black;
    color: @black;
    margin-right: 1rem;

    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 2px 2px 10px fade(#000, 24%);

        border-color: @black;
        background-color: @black;
        color: @white;
    }

    // Modificators

    &--small {
        min-width: 0;
        font-weight: 700;
        border-width: 2px;

        font-size: .85rem;
        padding: .75em 1.5em;
    }

    &--thin {
        font-size: .8rem;
        min-width: 8rem;
    }

}
