// main: ../style.less
.intro__inner {
    display: flex;
    padding-top: 100px;
    border-bottom: 1px solid fade(@grey,30%);
}

.intro__content {
    width: 50%;
}

.intro__subtitle {
    font-size: 32px;
    color: black;
    font-weight: 200;
}

.intro__title {
    margin-bottom: 5px;
    font-size: 45px;
    
    color: @black;
    font-weight: @black;
}

.intro__text {
    margin-bottom: 25px;
    font-size: 18px;

    color: fade(@black, 70%);
}

.intro__photo {
    position: relative;
    width: 50%;
}

.intro__back {
    width: 100%;
    text-align: right;
}

.intro__boy {
    overflow: hidden;

    & svg {
        width: 100%;
        height: 100%;
        color: @black;
        background-color: @white;
    }
}