// main: ../style.less

.reviews {
    position: relative;
    padding: 48px 0;
    background-color: @black;
}

.reviews__item {
    width: 100%;
    max-width: 830px;
    margin: 0 auto;
}

.reviews__text {
    text-align: center;
    font-size: 14px;
    color: @white;
    line-height: 32px;
}

.reviews__author {
    margin-top: -51px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1;
    text-align: center;
}

.reviews__photo {
    display: block;
    margin: 0 auto 0.6rem;
    border-radius: 50%;
    width: 103px;
    height: 103px;
    border: 4px solid #efefef;
}

.reviews__name {
    margin-bottom: 0.5rem;
    font-size: 1.06rem;
    color: @black;
    font-weight: 700;
}

.reviews__company {
    font-size: 14px;
    color: @grey;
    font-style: italic;
    font-weight: 300;
}