/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(../../fb6f3c230cb846e25247.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(../../a4e97f5a2a64f0ab1323.eot);
    src: url(../../a4e97f5a2a64f0ab1323.eot?#iefix) format('embedded-opentype'), url(../../295183786cd8a1389865.woff) format('woff'), url(../../c94f7671dcc99dce43e2.ttf) format('truetype'), url(../../2630a3e3eab21c607e21.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

html,
body {
  font-size: 16px;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
body.no-scroll {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 1rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.reviews {
  padding: 48px 0;
}
.content {
  width: 100%;
  overflow-x: none;
  background-color: #fff;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}
.header {
  position: relative;
  padding: 1.25rem 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9rem;
}
.header__theme-btn {
  margin: 1rem;
  padding: 0.75rem !important;
  font-size: 1.5rem !important;
  border-radius: 50% !important;
}
.user {
  display: flex;
}
.user__avatar {
  width: 60px;
  height: 60px;
}
.user__avatar img {
  border-radius: 50%;
}
.user__content {
  padding-left: 1rem;
}
.user__name {
  line-height: 1.2;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  color: #2A2B2C;
}
.user__prof {
  font-size: 0.75rem;
  color: rgba(42, 43, 44, 0.7);
}
.nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 2rem;
  color: #2A2B2C;
}
.nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #2A2B2C;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.nav__link--btn {
  transition: background-color 0.2s linear, color 0.2s linear;
  padding: 0.85rem 2rem;
  border-radius: 1.2rem;
  border: 2px solid #2A2B2C;
}
.nav__link--btn:hover {
  background-color: #2A2B2C;
  color: #fff;
}
.burger {
  display: none;
}
.intro__inner {
  display: flex;
  padding-top: 6rem;
  border-bottom: 1px solid rgba(42, 43, 44, 0.3);
}
.intro__content {
  width: 50%;
}
.intro__subtitle {
  font-weight: 200;
  font-size: 2rem;
  color: #2A2B2C;
}
.intro__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2A2B2C;
  font-weight: #2A2B2C;
}
.intro__text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: rgba(42, 43, 44, 0.7);
}
.intro__photo {
  position: relative;
  width: 50%;
  margin-top: 1rem;
}
.intro__back {
  width: 100%;
  text-align: right;
}
.intro__boy {
  width: 100%;
  text-align: right;
  overflow: hidden;
}
.intro__boy svg {
  width: 100%;
  height: 100%;
  color: #2A2B2C;
  background-color: #fff;
}
.intro__boy-svg {
  fill: #2A2B2C;
  max-width: 300px;
}
.social {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.social__link {
  padding: 0.5rem;
  transition: transform 0.2s linear;
  transform: translateX(-0.5rem);
}
.social__link:hover {
  transform: translateY(-10%);
}
.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background: none;
  font-family: inherit;
  cursor: pointer;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.25s linear, color 0.25s linear, box-shadow 0.25s linear, border 0.25s linear;
  font-size: 1rem;
  border-radius: 1em;
  padding: 0.75em 1em;
  border: 1px solid #2A2B2C;
  color: #2A2B2C;
  margin-right: 1rem;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
  border-color: #2A2B2C;
  background-color: #2A2B2C;
  color: #fff;
}
.btn--small {
  min-width: 0;
  font-weight: 700;
  border-width: 2px;
  font-size: 0.85rem;
  padding: 0.75em 1.5em;
}
.btn--thin {
  font-size: 0.8rem;
  min-width: 8rem;
}
.works {
  padding: 3rem 0;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.works__nav-link {
  text-decoration: none;
  font-size: 1rem;
  margin: 0 1.2rem;
  color: rgba(42, 43, 44, 0.7);
}
.works__nav-link:hover {
  text-decoration: underline;
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio__col {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.work {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s linear;
}
.work:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.work__image {
  display: flex;
  max-width: 100%;
  height: auto;
}
.work__content {
  padding: 15px 12px;
}
.work__cat {
  margin-bottom: 7.5px;
  font-size: 12px;
  color: #2A2B2C;
  text-transform: uppercase;
}
.work__title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #2A2B2C;
  text-transform: uppercase;
  font-weight: 700;
}
.about {
  margin: 4rem 0;
}
.about__inner {
  display: flex;
}
.about__photo,
.about__content {
  width: 50%;
  overflow: hidden;
}
.about__content {
  margin-top: 2rem;
}
.about__photo {
  position: relative;
}
.about__image {
  width: 100%;
  height: auto;
  max-width: 400px;
  fill: #2A2B2C;
}
.img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  color: #2A2B2C;
}
.about__bigtitle {
  position: relative;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 6rem;
  margin-bottom: 1.25rem;
  color: rgba(42, 43, 44, 0.15);
}
.about__text {
  line-height: 2;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #2A2B2C;
}
.reviews {
  position: relative;
  padding: 3rem 0;
  background-color: #2A2B2C;
}
.reviews__item {
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.reviews__text {
  text-align: center;
  font-size: 1rem;
  line-height: 2;
  color: #fff;
}
.reviews__author {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(50%);
  left: 0;
  z-index: 1;
  text-align: center;
}
.reviews__photo {
  display: block;
  border-radius: 50%;
  margin: 0 auto 0.75rem;
  width: 100px;
  height: 100px;
  border: 5px solid #efefef;
}
.reviews__name {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #2A2B2C;
}
.reviews__company {
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
  color: #2A2B2C;
}
.reviews__rating {
  margin-top: 1rem;
}
.reviews__star {
  color: #2A2B2C;
}
.news {
  margin-top: 15rem;
  margin-bottom: 8rem;
}
.news__header {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 3.5rem;
}
.news__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 0.3rem;
  color: #2A2B2C;
}
.news__text {
  font-weight: 300;
  font-size: 1.2rem;
  color: #2A2B2C;
}
.news__footer {
  text-align: right;
}
.news__link {
  transition: text-decoration 0.2s linear;
  font-size: 1rem;
  color: #2A2B2C;
}
.news__link:hover {
  text-decoration: none;
}
.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.articles__item {
  margin-bottom: 2rem;
}
.articles__header {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.2rem;
}
.articles__header:hover .articles__date {
  transform: translate3d(0, 0, 0);
}
.articles__date {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  transition: transform 0.25s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1rem;
  transform: translate3d(-5rem, -5rem, 0);
  width: 5rem;
  height: 5rem;
  background-color: #2A2B2C;
  color: #fff;
}
.articles__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.articles__content {
  margin-bottom: 2rem;
}
.articles__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #2A2B2C;
}
.articles__title a {
  color: inherit;
  text-decoration: none;
}
.articles__title a:hover {
  text-decoration: underline;
}
.articles__cat {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #2A2B2C;
}
.articles__text {
  font-weight: 300;
  line-height: 2;
  font-size: 1rem;
  color: #2A2B2C;
}
.footer {
  padding: 1rem 0;
  background-color: #2A2B2C;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__credits {
  display: flex;
  align-items: center;
}
.footer__copyright {
  color: #fff;
  font-size: 1rem;
  padding-right: 0.8rem;
  margin-right: 1rem;
  border-right: 1px solid rgba(42, 43, 44, 0.35);
}
.footer__social {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #fff;
}
.footer__social i {
  transition: transform 0.2s linear;
}
.footer__social a {
  margin-right: 1.2rem;
  text-decoration: none;
  color: #fff;
}
.footer__social i:hover {
  transform: translateY(-10%);
}
.footer__nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.footer__nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 1.5rem;
}
.footer__nav-link:hover {
  text-decoration: underline;
}
.footer__nav-link--btn {
  transition: border-color 0.2s linear, background-color 0.2s linear, text-decoration 0.2s linear, color 0.2s linear;
  line-height: 1.1;
  font-size: 1rem;
  border-radius: 1.2rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid #fff;
}
.footer__nav-link--btn:hover {
  text-decoration: none;
  background-color: #fff;
  border-color: #fff;
  color: #2A2B2C;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #000000b3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}
.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__dialog {
  width: 100%;
  max-width: 1200px;
  position: relative;
  background-color: #fff;
  transform: rotateX(90deg);
  transition: transform 0.2s linear;
  overflow: auto;
}
.modal__dialog--sm {
  max-width: 900px;
}
.modal__close {
  position: absolute;
  z-index: 1;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: transform 0.25s linear;
  color: #2A2B2C;
  font-size: 1.5rem;
  right: 1rem;
  transform: translateY(50%);
}
.modal__content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5rem 1rem;
}
.modal__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3.5rem;
  color: #2A2B2C;
}
.modals__subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  color: #2A2B2C;
}
.modal-work {
  display: flex;
}
.modal-work__preview {
  width: 50%;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-work__slider {
  margin: 0 !important;
}
.modal-work__slider .slick-dots li button {
  background-color: transparent !important;
}
.modal-work__slider .slick-list {
  width: 100% !important;
}
.modal-work__slider .slick-track {
  margin: 0;
  padding: 0;
}
.modal-work__slider .slick-dots li button:before {
  color: #fff !important;
}
.modal-work__slider .slick-dots li button:before:hover {
  color: #FFF !important;
}
.modal-work__slider .slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}
.modal-work__item {
  width: 100%;
  padding: 0 0.5rem;
}
.modal-work__photo {
  width: 100%;
  height: 100%;
}
.modal-work__content {
  position: relative;
  width: 50%;
  padding: 2rem;
}
.modal-work__header {
  margin-bottom: 2.5rem;
}
.modal-work__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  color: #2A2B2C;
  margin-bottom: 0.2rem;
}
.modal-work__info {
  text-transform: uppercase;
  color: #2A2B2C;
  font-size: 1.25rem;
}
.modal-work__info__divider {
  margin: 0 1rem;
}
.modal-work__client {
  margin-bottom: 2.5rem;
}
.modal-work__client-title {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  color: #2A2B2C;
}
.modal-work__client-company {
  font-style: italic;
  font-size: 1rem;
  color: #2A2B2C;
}
.modal-work__text {
  line-height: 2;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 3rem;
  color: #2A2B2C;
}
.modal-work__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.modal-work__btn {
  cursor: pointer;
  font-family: inherit;
  background: none;
  border: 0;
  padding: 0;
  text-transform: uppercase;
  transition: transform 0.2s linear;
  font-size: 1rem;
  color: #2A2B2C;
}
.modal-work__btn:hover {
  transform: translateY(-20%);
}
.modal-work__btn i {
  color: #2A2B2C;
}
.slick-dots {
  margin-bottom: 1rem;
}
.slick-dots li button:before {
  font-size: 1.25rem;
}
.slick-dots li button {
  border: 0 !important;
}
.timeline {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 768px;
  margin: 4.2rem auto;
}
.timeline:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  background-color: #2A2B2C;
}
.timeline__col {
  width: 50%;
}
.timeline__col--left {
  text-align: right;
  padding-right: 3.2rem;
}
.timeline__col--right {
  padding-left: 3.2rem;
}
.timeline__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  color: #2A2B2C;
}
.timeline__item {
  margin-bottom: 2.5rem;
}
.timeline__item:last-child {
  margin-bottom: 0;
}
.timeline__date {
  display: block;
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  color: #2A2B2C;
}
.timeline__subtitle {
  font-size: 1.06rem;
  color: #2A2B2C;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.timeline__position {
  font-style: italic;
  font-size: 1rem;
  color: #2A2B2C;
}
.timeline__text {
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 0.8rem;
  line-height: 1.6;
  color: #2A2B2C;
}
.progress-bar {
  margin-bottom: 3rem;
}
.progress-bar__item {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 272px;
  margin-bottom: 0.3rem;
}
.progress-bar__left {
  width: 35%;
}
.progress-bar__title {
  font-weight: 300;
  font-size: 1rem;
}
.progress-bar__right {
  width: 65%;
  padding-left: 1.2rem;
}
.progress-bar__bar {
  background-color: #efefef;
  width: 100%;
  max-width: 150px;
  height: 5px;
}
.progress-bar__progress {
  transition: width 1s linear;
  height: 100%;
  background-color: #2A2B2C;
}
.contact {
  display: flex;
  height: 100%;
}
.contact__left {
  width: 100%;
  padding: 2rem;
}
.contact__info {
  list-style: none;
  font-weight: 300;
  padding: 0;
  margin: 2rem 0 3rem;
  font-size: 1rem;
  color: #2A2B2C;
}
.contact__info i {
  margin-right: 1rem;
}
.contact__info--item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.contact__info--item:last-child {
  margin-bottom: 0;
}
.form__group {
  margin-bottom: 2rem;
}
.form__label {
  display: inline-block;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  color: #2A2B2C;
}
.form__input,
.form__textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 300;
  border: 1px solid rgba(42, 43, 44, 0.3);
  border-radius: 25px;
  transition: border-color 0.2s linear;
  font-size: 1rem;
  padding: 1.25rem 1.75rem;
  color: #2A2B2C;
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #36abc7;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: #2A2B2C;
}
.form__textarea {
  height: 200px;
  resize: none;
}
.span {
  display: none;
}
@media (max-width: 1024px) {
  .footer__nav-link--btn {
    text-align: center;
    padding: 0.5rem 1.5rem;
  }
  .span {
    display: none;
  }
  .modal.show {
    display: block;
  }
  .modal-work {
    flex-direction: column;
    align-items: center;
  }
  .modal-work__preview {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1rem;
    display: block;
  }
  .modal-work__item {
    padding-top: 3rem;
  }
  .modal-work__content {
    width: 100%;
  }
}
@media (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
  .header__inner {
    margin-bottom: 4rem;
  }
  .header__inner {
    position: relative;
  }
  .nav {
    flex-direction: column;
    position: absolute;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    top: 5rem;
    left: -1.2rem;
    width: calc(100% + 2.4rem);
    padding: 1rem;
    z-index: 1;
  }
  .nav.left {
    transform: translateX(0);
    transition: transform 0.25s linear;
  }
  .nav.right {
    transform: translateX(100%);
    transition: transform 0.25s linear;
  }
  .nav.transition {
    transition: transform 0.25s linear;
  }
  .nav__link {
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .nav__link:last-child {
    margin-bottom: 0;
  }
  .btn__block {
    display: flex;
  }
  .intro__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 0;
  }
  .intro__content {
    width: 100%;
  }
  .intro__photo {
    width: 100%;
  }
  .work {
    margin-left: 1rem;
  }
  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__nav {
    display: none;
  }
  .about {
    margin: 0;
  }
  .about__inner {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .about__photo {
    text-align: center;
  }
  .about__image {
    max-width: 300px;
  }
  .about__title {
    text-align: center;
    color: #2A2B2C;
    font-weight: 700;
    text-transform: uppercase;
  }
  .about__bigtitle {
    text-align: center;
  }
  .about__content,
  .about__photo {
    width: 100%;
    position: relative;
  }
  .about__text {
    text-align: center;
  }
  .about__btn-block {
    display: flex;
    justify-content: center;
  }
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    max-width: 40px;
    height: 100%;
  }
  .burger__inner {
    position: relative;
    padding: 0;
    display: block;
    background-color: #2A2B2C;
    width: 30px;
    height: 5px;
    margin: 1rem 0;
  }
  .burger__inner::after,
  .burger__inner::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #2A2B2C;
    width: 40px;
    height: 5px;
  }
  .burger__inner.menu {
    width: 40px;
    height: 5px;
  }
  .burger__inner.menu::after {
    top: 10px;
  }
  .burger__inner.menu::before {
    top: -10px;
  }
  .burger__inner.close {
    width: 30px;
    background-color: #fff;
  }
  .burger__inner.close::before,
  .burger__inner.close::after {
    width: 30px;
  }
  .burger__inner.close::after {
    transform: rotate(45deg);
  }
  .burger__inner.close::before {
    transform: rotate(-45deg);
  }
  .footer__inner {
    text-align: center;
  }
  .footer__credits {
    width: 100%;
    flex-direction: column;
  }
  .footer__copyright {
    border-right: 0;
    padding-right: 0;
    margin-bottom: 2rem;
  }
}
@media (max-width: 425px) {
  html,
  body {
    font-size: 12px;
  }
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio {
    grid-template-columns: 1fr;
  }
}
.text__center {
  text-align: center;
}
.text__right {
  text-align: right;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.hide {
  display: none;
}
.slick-dots {
  list-style: none;
  bottom: 0;
  position: absolute;
  z-index: 2000;
  display: flex;
  justify-content: center;
  width: 100%;
}
.slick-dots li {
  font-size: 0;
  margin-right: 10px;
}
.slick-dots li button {
  outline: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: transparent;
  font-size: 0;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.slick-dots li button:hover {
  background-color: rgba(42, 43, 44, 0.2);
}
#slick-slide-control00 {
  background-color: white;
}

